<section class="container">
  <div class="ListBlur">
    <h4>Browse Categories</h4>
    <ul>
      <li>
        <div class="BlurPosition">
          <img src="../assets/imagesBlur/Space.png" alt="Space" />
          <img src="../assets/imagesBlur/PaintBrush.png" alt="" />
        </div>
        <p>Art</p>
      </li>
      <li>
        <div class="BlurPosition">
          <img src="../assets/imagesBlur/Monkey.png" alt="Monkey" />
          <img src="../assets/imagesBlur/Swatches.png" alt="" />
        </div>
        <p>Collectibles</p>
      </li>
      <li>
        <div class="BlurPosition">
          <img src="../assets/imagesBlur/gitar.png" alt="gitar" />
          <img src="../assets/imagesBlur/MusicNotes.png" alt="" />
        </div>
        <p>Music</p>
      </li>
      <li>
        <div class="BlurPosition">
          <img src="../assets/imagesBlur/OldMan.png" alt="oldMan" />
          <img src="../assets/imagesBlur/Camera.png" alt="" />
        </div>
        <p>Photography</p>
      </li>
      <li>
        <div class="BlurPosition">
          <img src="../assets/imagesBlur/Boy.png" alt="Boy" />
          <img src="../assets/imagesBlur/VideoCamera.png" alt="" />
        </div>
        <p>Video</p>
      </li>
      <li>
        <div class="BlurPosition">
          <img src="../assets/imagesBlur/Key.png" alt="key" />
          <img src="../assets/imagesBlur/MagicWand.png" alt="" />
        </div>
        <p>Utility</p>
      </li>
      <li>
        <div class="BlurPosition">
          <img src="../assets/imagesBlur/Ball.png" alt="Ball" />
          <img src="../assets/imagesBlur/Basketball.png" alt="" />
        </div>
        <p>Sport</p>
      </li>
      <li>
        <div class="BlurPosition">
          <img src="../assets/imagesBlur/City.png" alt="City" />
          <img src="../assets/imagesBlur/Planet.png" alt="" />
        </div>
        <p>Virtual Worlds</p>
      </li>
    </ul>
  </div>
</section>
