<section class="container PositionBtn">
  <div class="TitleBox">
    <div>
      <h4>Top creators</h4>
      <p>Checkout Top Rated Creators on the NFT Marketplace</p>
    </div>
  </div>
  <ul class="CreatorsList">
    <li class="CreatorsItem">
      <div class="Position">
        <div>1</div>
        <img src="../assets/images/Avatar1.png" alt="" />
      </div>
      <div class="CreatorsName">
        <h5>Keepitreal</h5>
        <div>
          <span>Total Sales:</span>
          <span>34.53 ETH</span>
        </div>
      </div>
    </li>
    <li class="CreatorsItem">
      <div class="Position">
        <div>2</div>
        <img src="../assets/images/Avatar2.png" alt="" />
      </div>
      <div class="CreatorsName">
        <h5>DigiLab</h5>
        <div>
          <span>Total Sales:</span>
          <span>32.13 ETH</span>
        </div>
      </div>
    </li>
    <li class="CreatorsItem">
      <div class="Position">
        <div>3</div>
        <img src="../assets/images/Avatar3.png" alt="" />
      </div>
      <div class="CreatorsName">
        <h5>GravityOne</h5>
        <div>
          <span>Total Sales:</span>
          <span>28.93 ETH</span>
        </div>
      </div>
    </li>
    <li class="CreatorsItem">
      <div class="Position">
        <div>4</div>
        <img src="../assets/images/Avatar4.png" alt="" />
      </div>
      <div class="CreatorsName">
        <h5>Juanie</h5>
        <div>
          <span>Total Sales:</span>
          <span>25.30 ETH</span>
        </div>
      </div>
    </li>
    <li class="CreatorsItem">
      <div class="Position">
        <div>5</div>
        <img src="../assets/images/Avatar5.png" alt="" />
      </div>
      <div class="CreatorsName">
        <h5>BlueWhale</h5>
        <div>
          <span>Total Sales:</span>
          <span>22.22 ETH</span>
        </div>
      </div>
    </li>
    <li class="CreatorsItem">
      <div class="Position">
        <div>6</div>
        <img src="../assets/images/Avatar6.png" alt="" />
      </div>
      <div class="CreatorsName">
        <h5>Mr Fox</h5>
        <div>
          <span>Total Sales:</span>
          <span>19.28 ETH</span>
        </div>
      </div>
    </li>
    <li class="CreatorsItem">
      <div class="Position">
        <div>7</div>
        <img src="../assets/images/Avatar7.png" alt="" />
      </div>
      <div class="CreatorsName">
        <h5>Shroomie</h5>
        <div>
          <span>Total Sales:</span>
          <span>18.83 ETH</span>
        </div>
      </div>
    </li>
    <li class="CreatorsItem">
      <div class="Position">
        <div>8</div>
        <img src="../assets/images/Avatar8.png" alt="" />
      </div>
      <div class="CreatorsName">
        <h5>Robotica</h5>
        <div>
          <span>Total Sales:</span>
          <span>18.13 ETH</span>
        </div>
      </div>
    </li>
    <li class="CreatorsItem">
      <div class="Position">
        <div>9</div>
        <img src="../assets/images/Avatar9.png" alt="" />
      </div>
      <div class="CreatorsName">
        <h5>RustyRobot</h5>
        <div>
          <span>Total Sales:</span>
          <span>17.53 ETH</span>
        </div>
      </div>
    </li>
    <li class="CreatorsItem">
      <div class="Position">
        <div>10</div>
        <img src="../assets/images/Avatar14.png" alt="" />
      </div>
      <div class="CreatorsName">
        <h5>Animakid</h5>
        <div>
          <span>Total Sales:</span>
          <span>16.51 ETH</span>
        </div>
      </div>
    </li>
    <li class="CreatorsItem">
      <div class="Position">
        <div>11</div>
        <img src="../assets/images/Avatar15.png" alt="" />
      </div>
      <div class="CreatorsName">
        <h5>Dotgu</h5>
        <div>
          <span>Total Sales:</span>
          <span>15.03 ETH</span>
        </div>
      </div>
    </li>
    <li class="CreatorsItem">
      <div class="Position">
        <div>12</div>
        <img src="../assets/images/Avatar17.png" alt="" />
      </div>
      <div class="CreatorsName">
        <h5>Ghiblier</h5>
        <div>
          <span>Total Sales:</span>
          <span>14.53 ETH</span>
        </div>
      </div>
    </li>
  </ul>
  <button class="BtnView AnimationSvg" type="button">
    <svg>
      <use href="../assets/icons/_sprite.svg#RocketLaunch"></use>
    </svg>
    View Rankings
  </button>
</section>
