<section class="container PositionBtn">
  <div class="TitleBox">
    <h4>Discover More NFTs</h4>
    <p>Explore new trending NFTs</p>
  </div>
  <ul class="DiscoverList">
    <li>
      <img src="./assets/imagesBlur/LookonMoon.png" alt="" />
      <div class="CardName">
        <h5>Distant Galaxy</h5>
        <div class="AvatarCard">
          <img src="./assets/images/avatar16.png" alt="" />
          <span>MoonDancer</span>
        </div>
        <div class="AvatarPrice">
          <div>
            <p>Price</p>
            <p>1.63 ETH</p>
          </div>
          <div>
            <p>Highest Bid</p>
            <p>0.33 wETH</p>
          </div>
        </div>
      </div>
    </li>
    <li>
      <img src="./assets/imagesBlur/BoyWatchtoSky.png" alt="" />
      <div class="CardName">
        <h5>Life On Edena</h5>
        <div class="AvatarCard">
          <img src="./assets/images/Avatar10.png" alt="" />
          <span>NebulaKid</span>
        </div>
        <div class="AvatarPrice">
          <div>
            <p>Price</p>
            <p>1.63 ETH</p>
          </div>
          <div>
            <p>Highest Bid</p>
            <p>0.33 wETH</p>
          </div>
        </div>
      </div>
    </li>
    <li class="Hiddens">
      <img src="./assets/imagesBlur/Woman.png" alt="" />
      <div class="CardName">
        <h5>AstroFiction</h5>
        <div class="AvatarCard">
          <img src="./assets/images/avatar16.png" alt="" />
          <span>Spaceone</span>
        </div>
        <div class="AvatarPrice">
          <div>
            <p>Price</p>
            <p>1.63 ETH</p>
          </div>
          <div>
            <p>Highest Bid</p>
            <p>0.33 wETH</p>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <button class="BtnView" type="button">
    <svg>
      <use href="./assets/icons/_sprite.svg#Eye"></use>
    </svg>
    See All
  </button>
</section>
