<section class="container BcContainer">
  <div class="TitleBox">
    <h4>How It Works</h4>
    <p>Find out how to get started</p>
  </div>
  <ul class="HowItWork">
    <li>
      <img src="./assets/imagesBlur/SetupWalletIcon.png" alt="WalletIcon" />
      <div>
        <h5>Setup Your wallet</h5>
        <p>
          Set up your wallet of choice. Connect it to the NFT market by clicking
          the wallet icon in the top right corner.
        </p>
      </div>
    </li>
    <li>
      <img
        src="./assets/imagesBlur/CreateCollectionIcon.png"
        alt="CollectionIcon"
      />
      <div>
        <h5>Create Collection</h5>
        <p>
          Upload your work and setup your collection. Add a description, social
          links and floor price.
        </p>
      </div>
    </li>
    <li>
      <img src="./assets/imagesBlur/StartEarningIcon.png" alt="EarningIcon" />
      <div>
        <h5>Start Earning</h5>
        <p>
          Choose between auctions and fixed-price listings. Start earning by
          selling your NFTs or trading others.
        </p>
      </div>
    </li>
  </ul>
</section>
