<section class="container">
  <div class="JoinBox">
    <img src="./../assets/imagesBlur/SpaceMan.png" alt="SpaceMan" />
    <div class="JoinCard">
      <h4>Join Our Weekly Digest</h4>
      <p>Get exclusive promotions & updates straight to your inbox.</p>
      <div class="InputContainer">
        <input
          class="JoinInput"
          type="text"
          placeholder="Enter Your Email Address"
        />
        <button class="BtnJoin" type="button">
          <svg>
            <use href="./../assets/icons/_sprite.svg#EnvelopeSimple"></use>
          </svg>
          Subscribe
        </button>
      </div>
    </div>
  </div>
</section>
