<section class="Mashrooms">
  <div class="container MashroomBox">
    <div class="MashroomCard">
      <div class="AvatarCard">
        <img src="./assets/images/Avatar7.png" alt="" /> <span>Shroomie</span>
      </div>
      <h3>Magic Mashrooms</h3>
      <button class="Btn Showed" type="button">
        <svg>
          <use href="/NTF/assets/icons/sprite.svg#Eye"></use>
        </svg>
        See NFT
      </button>
    </div>
    <div class="Timer">
      <span>Auction ends in:</span>
      <ul>
        <li>
          <h3>59</h3>
          <span>Hours</span>
        </li>
        <li><h3>:</h3></li>
        <li>
          <h3>59</h3>
          <span>Minutes</span>
        </li>
        <li><h3>:</h3></li>
        <li>
          <h3>59</h3>
          <span>Seconds</span>
        </li>
      </ul>
    </div>
    <button class="Btn Hidden" type="button">
      <svg>
        <use href="/NTF/assets/icons/sprite.svg#Eye"></use>
      </svg>
      See NFT
    </button>
  </div>
</section>
