<section class="FlexContainer">
  <div class="Images"></div>
  <div class="containerSing">
    <div class="CreateAcc">
      <h1>Create account</h1>
      <p>
        Welcome! enter your details and start creating, collecting and selling
        NFTs.
      </p>
    </div>
    <form class="Form">
      <label>
        <svg>
          <use href="../../assets/icons/_sprite.svg#User"></use>
        </svg>
        <input type="text" placeholder="Username" />
      </label>
      <label>
        <svg>
          <use href="../../assets/icons/_sprite.svg#EnvelopeSimple"></use>
        </svg>
        <input type="email" placeholder="Email Address" />
      </label>
      <label>
        <svg>
          <use href="../../assets/icons/_sprite.svg#LockKey"></use>
        </svg>
        <input type="password" placeholder="Password" />
      </label>
      <label>
        <svg>
          <use href="../../assets/icons/_sprite.svg#LockKey"></use>
        </svg>
        <input type="password" placeholder="Confirm Password" />
      </label>
      <button type="button">Create account</button>
    </form>
  </div>
</section>
