<section class="container">
  <div class="TrendingBox">
    <div class="TitleBox">
      <h4>Trending Collection</h4>
      <p>Checkout our weekly updated trending collection.</p>
    </div>
    <ul class="TrendingCardList">
      <li>
        <div class="TrendingCard">
          <div>
            <img
              class="PrimaryCard"
              src="./assets/images/Card1.png"
              alt="Dog"
            />
            <ul class="TrendingImageList">
              <li>
                <img src="./assets/images/Card1Placeholder.png" alt="" />
              </li>
              <li>
                <img src="./assets/images/Card1Placeholder2.png" alt="" />
              </li>
              <li>
                <span>1025+</span>
              </li>
            </ul>
          </div>
          <div class="CardName Nopadding">
            <h5>DSGN Animals</h5>
            <div class="AvatarCard">
              <img src="./assets/images/avatar6.png" alt="" />
              <span>MrFox</span>
            </div>
          </div>
        </div>
      </li>
      <li class="TabletCard">
        <div class="TrendingCard">
          <div>
            <img
              class="PrimaryCard"
              src="./assets/images/Card2.png"
              alt="Dog"
            />
            <ul class="TrendingImageList">
              <li>
                <img src="./assets/images/Card2Placeholder.png" alt="" />
              </li>
              <li>
                <img src="./assets/images/Card2Placeholder2.png" alt="" />
              </li>
              <li>
                <span>1025+</span>
              </li>
            </ul>
          </div>
          <div class="CardName Nopadding">
            <h5>Magic Mushrooms</h5>
            <div class="AvatarCard">
              <img src="./assets/images/avatar7.png" alt="" />
              <span>Shroomie</span>
            </div>
          </div>
        </div>
      </li>
      <li class="DesktopCard">
        <div class="TrendingCard">
          <div>
            <img
              class="PrimaryCard"
              src="./assets/images/Card3.png"
              alt="Dog"
            />
            <ul class="TrendingImageList">
              <li>
                <img src="./assets/images/Card3Placeholder.png" alt="" />
              </li>
              <li>
                <img src="./assets/images/Card3Placeholder2.png" alt="" />
              </li>
              <li>
                <span>1025+</span>
              </li>
            </ul>
          </div>
          <div class="CardName Nopadding">
            <h5>Disco Machines</h5>
            <div class="AvatarCard">
              <img src="./assets/images/avatar12.png" alt="" />
              <span>BeKind2Robots</span>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
