.containerSing {
  color: var(--whiteColor);
  padding: 30px;
}
.Images {
  background-image: url("../../../assets/images/SingInMobile.png");
  min-height: 250px;
  width: 100%;
  background-clip: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.CreateAcc {
  margin-bottom: var(--margin);
  h1 {
    font-size: 38px;
    font-weight: 600;
    margin-bottom: 5px;
  }
}
.Form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  label {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 20px;
    background-color: var(--whiteColor);
    border-radius: var(--borRad);
    svg {
      width: 20px;
      height: 20px;
      color: var(--greyColor);
    }
  }
  input {
    color: var(--bcPrimery);
  }
  button {
    background-color: var(--violetColor);
    padding: 12px 20px;
    border-radius: var(--borRad);
    color: var(--whiteColor);
    font-weight: 600;
    margin-top: 15px;
  }
}
@media (min-width: 768px) {
  .FlexContainer {
    display: flex;
    gap: 40px;
  }
  .containerSing {
    width: 50%;
    padding: 50px 50px 50px 0px;
  }
  .Images {
    background-image: url("../../../assets/images/SignInTab.png");
    background-repeat: no-repeat;
    width: 50%;
  }
}
@media (min-width: 1280px) {
  .Images {
    background: url("../../../assets/images/SingIn.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .CreateAcc {
    width: 460px;
    h1 {
      font-size: 51px;
    }
    p {
      font-size: 22px;
    }
  }
  .Form {
    width: 330px;
  }
}
