<footer class="container">
  <div class="Box">
    <ul class="FooterList">
      <li class="Item">
        <div>
          <a class="Logo" href="../index.html">
            <svg class="svgColor">
              <use href="../assets/icons/_sprite.svg#Storefront"></use>
            </svg>
            NFT Marketplace
          </a>
        </div>
        <p>NFT marketplace UI created with Anima for Figma.</p>
        <p>Join our community</p>
        <ul class="SvgCommunity">
          <li>
            <svg>
              <use href="../assets/icons/_sprite.svg#DiscordLogo"></use>
            </svg>
          </li>
          <li>
            <svg>
              <use href="../assets/icons/_sprite.svg#YoutubeLogo"></use>
            </svg>
          </li>
          <li>
            <svg>
              <use href="../assets/icons/_sprite.svg#TwitterLogo"></use>
            </svg>
          </li>
          <li>
            <svg>
              <use href="../assets/icons/_sprite.svg#InstagramLogo"></use>
            </svg>
          </li>
        </ul>
      </li>
      <li>
        <h5>Explore</h5>
        <a class="textGrey" href="../marketplace.html">Marketplace</a>
        <a class="textGrey" href="#">Rankings</a>
        <a class="textGrey" href="#">Connect a wallet</a>
      </li>
      <li>
        <h5>Join Our Weekly Digest</h5>
        <p>Get exclusive promotions & updates straight to your inbox.</p>
        <div class="InputBox Margin">
          <input
            class="FooterInput"
            type="text"
            placeholder="Enter Your Email Address"
          />
          <button class="BtnFooter" type="button">
            <svg>
              <use href="../assets/icons/_sprite.svg#EnvelopeSimple"></use>
            </svg>
            Subscribe
          </button>
        </div>
      </li>
    </ul>
    <p class="TextPrivat">&#169; NFT Market. Use this template freely.</p>
  </div>
</footer>
