<header class="container">
  <div class="HeaderContainer">
    <div class="HeaderBox">
      <div>
        <h1>Discover Digital Art & Collect NFTs</h1>
        <p>
          NFT marketplace UI created with Anima for Figma. Collect, buy and sell
          art from more than 20k NFT artists.
        </p>
      </div>
      <div class="HeaderCard Hidden">
        <img
          class="CardImage"
          src="../assets/images/ManMoon.png"
          alt="Man on moon"
        />
        <div class="CardName">
          <h5>Space Walking</h5>
          <div class="AvatarCard">
            <img src="../assets/images/Avatar14.png" alt="Avatar" />
            <span>Animakid</span>
          </div>
        </div>
      </div>
      <button class="Btn AnimationSvg" type="button">
        <svg>
          <use href="../assets/icons/_sprite.svg#RocketLaunch"></use>
        </svg>
        Get Started
      </button>
      <div class="TotalArtists">
        <ul>
          <li>
            <p>240k+</p>
            <span>Total Sale</span>
          </li>
          <li>
            <p>100k+</p>
            <span>Auctions</span>
          </li>
          <li>
            <p>240k+</p>
            <span>Artists</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="HeaderCard Showed">
      <img
        class="CardImage"
        src="../assets/images/ManMoon.png"
        alt="Man on moon"
      />
      <div class="CardName">
        <h5>Space Walking</h5>
        <div class="AvatarCard">
          <img src="../assets/images/Avatar14.png" alt="Avatar" />
          <span>Animakid</span>
        </div>
      </div>
    </div>
  </div>
</header>
