<section class="container withoutTop">
  <ul class="ListTitle">
    <li><span>HFTs</span><span>302</span></li>
    <li><span>Collections</span><span>67</span></li>
  </ul>
</section>
<section class="container withoutTop">
  <ul class="DiscoverList">
    <li>
      <img src="../assets/imagesMarket/Magic.png" alt="" />
      <div class="CardName">
        <h5>Magic Mushroom 0325</h5>
        <div class="AvatarCard">
          <img src="../assets/images/avatar7.png" alt="" />
          <span>Shroomie</span>
        </div>
        <div class="AvatarPrice">
          <div>
            <p>Price</p>
            <p>1.63 ETH</p>
          </div>
          <div>
            <p>Highest Bid</p>
            <p>0.33 wETH</p>
          </div>
        </div>
      </div>
    </li>
    <li>
      <img src="../assets/imagesMarket/HapRobot.png" alt="" />
      <div class="CardName">
        <h5>Happy Robot 032</h5>
        <div class="AvatarCard">
          <img src="../assets/images/avatar12.png" alt="" />
          <span>BeKind2Robots</span>
        </div>
        <div class="AvatarPrice">
          <div>
            <p>Price</p>
            <p>1.63 ETH</p>
          </div>
          <div>
            <p>Highest Bid</p>
            <p>0.33 wETH</p>
          </div>
        </div>
      </div>
    </li>
    <li>
      <img src="../assets/imagesMarket/HappyRobot.png" alt="" />
      <div class="CardName">
        <h5>Happy Robot 024</h5>
        <div class="AvatarCard">
          <img src="../assets/images/avatar12.png" alt="" />
          <span>BeKind2Robots</span>
        </div>
        <div class="AvatarPrice">
          <div>
            <p>Price</p>
            <p>1.63 ETH</p>
          </div>
          <div>
            <p>Highest Bid</p>
            <p>0.33 wETH</p>
          </div>
        </div>
      </div>
    </li>
    <li>
      <img src="../assets/imagesMarket/Bear.png" alt="" />
      <div class="CardName">
        <h5>Designer Bear</h5>
        <div class="AvatarCard">
          <img src="../assets/images/avatar6.png" alt="" />
          <span>Mr Fox</span>
        </div>
        <div class="AvatarPrice">
          <div>
            <p>Price</p>
            <p>1.63 ETH</p>
          </div>
          <div>
            <p>Highest Bid</p>
            <p>0.33 wETH</p>
          </div>
        </div>
      </div>
    </li>
    <li>
      <img src="../assets/imagesMarket/Dog.png" alt="" />
      <div class="CardName">
        <h5>Colorful Dog 0356</h5>
        <div class="AvatarCard">
          <img src="../assets/images/avatar15.png" alt="" />
          <span>Keepitreal</span>
        </div>
        <div class="AvatarPrice">
          <div>
            <p>Price</p>
            <p>1.63 ETH</p>
          </div>
          <div>
            <p>Highest Bid</p>
            <p>0.33 wETH</p>
          </div>
        </div>
      </div>
    </li>
    <li>
      <img src="../assets/imagesMarket/DancingRobot.png" alt="" />
      <div class="CardName">
        <h5>Dancing Robot 0312</h5>
        <div class="AvatarCard">
          <img src="../assets/images/avatar8.png" alt="" />
          <span>Robotica</span>
        </div>
        <div class="AvatarPrice">
          <div>
            <p>Price</p>
            <p>1.63 ETH</p>
          </div>
          <div>
            <p>Highest Bid</p>
            <p>0.33 wETH</p>
          </div>
        </div>
      </div>
    </li>
    <li>
      <img src="../assets/imagesMarket/Cherry.png" alt="" />
      <div class="CardName">
        <h5>Cherry Blossom Girl 035</h5>
        <div class="AvatarCard">
          <img src="../assets/images/avatar16.png" alt="" />
          <span>MoonDancer</span>
        </div>
        <div class="AvatarPrice">
          <div>
            <p>Price</p>
            <p>1.63 ETH</p>
          </div>
          <div>
            <p>Highest Bid</p>
            <p>0.33 wETH</p>
          </div>
        </div>
      </div>
    </li>
    <li>
      <img src="../assets/imagesMarket/SpaceTravel.png" alt="" />
      <div class="CardName">
        <h5>Space Travel</h5>
        <div class="AvatarCard">
          <img src="../assets/images/avatar10.png" alt="" />
          <span>NebulaKid</span>
        </div>
        <div class="AvatarPrice">
          <div>
            <p>Price</p>
            <p>1.63 ETH</p>
          </div>
          <div>
            <p>Highest Bid</p>
            <p>0.33 wETH</p>
          </div>
        </div>
      </div>
    </li>
    <li>
      <img src="../assets/imagesMarket/Sunset.png" alt="" />
      <div class="CardName">
        <h5>Sunset Dimension</h5>
        <div class="AvatarCard">
          <img src="../assets/images/avatar14.png" alt="" />
          <span>Animakid</span>
        </div>
        <div class="AvatarPrice">
          <div>
            <p>Price</p>
            <p>1.63 ETH</p>
          </div>
          <div>
            <p>Highest Bid</p>
            <p>0.33 wETH</p>
          </div>
        </div>
      </div>
    </li>
    <li>
      <img src="../assets/imagesMarket/DesertRobot.png" alt="" />
      <div class="CardName">
        <h5>Desert Walk</h5>
        <div class="AvatarCard">
          <img src="../assets/images/avatar20.png" alt="" />
          <span>Catch 22</span>
        </div>
        <div class="AvatarPrice">
          <div>
            <p>Price</p>
            <p>1.63 ETH</p>
          </div>
          <div>
            <p>Highest Bid</p>
            <p>0.33 wETH</p>
          </div>
        </div>
      </div>
    </li>
    <li>
      <img src="../assets/imagesMarket/Monkey.png" alt="" />
      <div class="CardName">
        <h5>IceCream Ape 0324</h5>
        <div class="AvatarCard">
          <img src="../assets/images/avatar19.png" alt="" />
          <span>Ice Ape Club</span>
        </div>
        <div class="AvatarPrice">
          <div>
            <p>Price</p>
            <p>1.63 ETH</p>
          </div>
          <div>
            <p>Highest Bid</p>
            <p>0.33 wETH</p>
          </div>
        </div>
      </div>
    </li>
    <li>
      <img src="../assets/imagesMarket/Dog.png" alt="" />
      <div class="CardName">
        <h5>Colorful Dog 0344</h5>
        <div class="AvatarCard">
          <img src="../assets/images/avatar13.png" alt="" />
          <span>PuppyPower</span>
        </div>
        <div class="AvatarPrice">
          <div>
            <p>Price</p>
            <p>1.63 ETH</p>
          </div>
          <div>
            <p>Highest Bid</p>
            <p>0.33 wETH</p>
          </div>
        </div>
      </div>
    </li>
  </ul>
</section>
