<nav>
  <ul class="NavigationList">
    <li>
      <a class="Logo" href="./index.html">
        <svg class="svg svgColor">
          <use href="../assets/icons/_sprite.svg#Storefront"></use>
        </svg>
        <h3>NFT Marketplace</h3>
      </a>
    </li>
    <li>
      <ul class="ListDesktop">
        <li><a href="./marketplace.html">Marketplace</a></li>
        <li><a href="#">Rankings</a></li>
        <li><a href="#">Connect a wallet</a></li>
        <li>
          <a href="./singin.html">
            <svg>
              <use href="./assets/icons/_sprite.svg#User"></use>
            </svg>
            Sign Up
          </a>
        </li>
      </ul>
      <button popovertarget="open" type="button">
        <svg class="svg BurgerMenu">
          <use href=".././assets/icons/_sprite.svg#List"></use>
        </svg>
      </button>
      <div popover id="open" class="popover">
        <button
          class="popoverclose"
          popovertarget="open"
          popovertargetaction="hide"
        >
          X
        </button>
        <ul class="ListBurger">
          <li><a href="./marketplace.html">Marketplace</a></li>
          <li><a href="">Rankings</a></li>
          <li><a href="">Connect a wallet</a></li>
          <li>
            <a href="./singin.html">
              <svg>
                <use href="./assets/icons/_sprite.svg#User"></use>
              </svg>
              Sign Up
            </a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</nav>
