:root {
  --whiteColor: #fff;
  --bcPrimery: #2b2b2b;
  --bcSecondary: #3b3b3b;
  --greyColor: #cccccc;
  --labelText: #858584;
  --violetColor: #a259ff;
  --blueColor: #377df7;
  --redColor: #ff7262;
  --margin: 30px;
  --borRad: 20px;
  --paddingSection-desktop: 80px 115px;
  --paddingSection-tablet: 40px 72px;
  --paddingSection-mobile: 40px 30px;
  --clock-gradient: linear-gradient(to bottom, #a159ff00 0%, #a159ff 100%);
  --secondary-gradient: linear-gradient(to bottom, #a159ff65, #377df780);
}
